<div id="<%= dom_id user %>">
  <p>
    <strong>Char name:</strong>
    <%= user.char_name %>
  </p>

  <p>
    <strong>Char email:</strong>
    <%= user.char_email %>
  </p>

  <p>
    <strong>Int document:</strong>
    <%= user.int_document %>
  </p>

  <p>
    <strong>Date dt birth:</strong>
    <%= user.date_dt_birth %>
  </p>

  <p>
    <strong>Char cep:</strong>
    <%= user.char_cep %>
  </p>

  <p>
    <strong>Char street:</strong>
    <%= user.char_street %>
  </p>

  <p>
    <strong>Int neighbourhood:</strong>
    <%= user.int_neighbourhood %>
  </p>

  <p>
    <strong>City:</strong>
    <%= user.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= user.state %>
  </p>

</div>
