<!DOCTYPE html>
<html>
  <head>
    <title>Leadster - Ruby</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %><%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>
  <body data-spy="scroll" data-target="#navmenu" data-offset="70">
  <header id="header" class="header-section transparent">
            <div class="container">
                <nav class="navbar ">
                    <a href="index.html" class="navbar-brand"> </a>
                    <div class="d-flex menu-wrap">
                       <div id="mainmenu" class="mainmenu">
                           <ul class="nav">
                                <li><a href="<%= url_for  controller: 'users', action: 'new' %>">Cadastrar</a></li>
                                <li><a href="<%= url_for  controller: 'users', action: 'search' %>">Buscar Usuários</a></li>
                            </ul>
                       </div>
                        <div class="header-right">
                             <a class="menu-btn default-btn btn-white" href="<%= url_for  users_path %>">Início<span></span></a>
                        </div>
                    </div>
                </nav>
            </div>
		</header>
    <%= yield %>
    <%= javascript_importmap_tags %>
  </body>
</html>
